/**
  * app.css
  * utkarsh Kaushik
  * 301209079
  * Oct 21, 2021
  */
/* custom css goes here */
.myimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50;
    height: 80;
  }

  /*
  .centertext {
    display: block;
    text-align: center;
  }
  */

  .lefttext {
    display: block;
    text-align: left;
  }

  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .container{  
    text-align: center;
    }  